<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.takecareclinic">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyDatabase"></activity>
        <activity android:name=".ViewAnswer" />
        <activity android:name=".PatientCancelAppointment" />
        <activity android:name=".DoctorCheckAppointment" />
        <activity
            android:name=".DoctorPageNav"
            android:label="@string/title_activity_doctor_page_nav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PatientPageNav"
            android:label="@string/title_activity_patient_page_nav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminPageNav"
            android:label="@string/title_activity_admin_page_nav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DoctorSchedule" />
        <activity android:name=".Patient_Questions" />
        <activity android:name=".Ask_Doctor" />
        <activity android:name=".Bookings" />
        <activity android:name=".Patient_Appointment" />
        <activity android:name=".PatientDelete" />
        <activity android:name=".PatientForm" />
        <activity android:name=".PatientLogin" />
        <activity android:name=".PatientRegister" />
        <activity android:name=".DoctorForm" />
        <activity android:name=".DeleteDoctor" />
        <activity android:name=".Entries" />
        <activity android:name=".DoctorLogin" />
        <activity android:name=".DoctorRegister" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".ChooseLogin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>